.Card
    display: flex;
    border: 1px solid gold;
    border-radius: 0  0 5px 5px;
    background: #ffd70014;
    padding: 30px;
    margin-bottom: 75px;
    .Card__image
        width: 40%
        background-color: #fff;
        border-radius: 5px;       
        img
            width: 140px;
            padding-top: 10%;
    .Card__text 
        width: 60%;
        text-align: left;
        padding: 30px 30px 60px 30px;
    .Card__btn
        padding: 10px;
        text-align: center;
        width: 100%;
        display: block;
        background-color: #66ff66;
        color: #fff;
        border-radius: 5px;
        opacity: 0.2;
        text-transform: uppercase;
        font-weight: bold;

    .Card__btn:hover
        opacity: 1;    