.Item
    width: 24%;
    height: 100%;
    margin: 0 10px 20px 0;
    list-style: none;
    padding: 15px;
    border: 1px solid gold;
    border-radius: 5px;
    .Item__wrapper
    .Item__image
        width: 40px;
        height: 120px;
    .Item__title
        font-size: 16px;
        margin-bottom: 0;
    .Item__tagline
        font-size: 14px;
        overflow: hidden;
        height: 25px;
        margin: 0;
    .Item__details 
        padding: 5px;
        background: gold;
        border-radius: 5px;
        width: 100%;
        display: block;
        opacity: .2;
    .Item__attenuation
        font-size: 12px;
.Item:hover
    border-color: #000;
.Item:hover .Item__details
        opacity: 1;
        