.App 
    background-color: white-smoke;
.Home

.Alert
    background: gold;
    width: 50%;
    margin: 5% auto;
    height: auto;
    border-radius: 5px;
    .Alert__title
        padding: 15px 0;
        margin: 0;
        font-size: 57px;
        font-weight: bold;
        color: #000;
    .Alert__wrapper 
        display: flex;
        align-items: center;
        > a 
            color: #000;
            width: 90%;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            margin: 15px;
            font-weight: bold;
        a:last-child
            background-color: yellow;
            border: solid 1px #000;
             