
.container 
  width: 80%
  margin: 0 auto


.Header
  background-color: #000
  height: 120px
  padding: 20px
  color: gold
  

.Header__logo
  height: 80px

.Header__title
  font-size: 1.5em

.Header__Wrapper 
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;

