.Search
    display: flex;
    width: 70%;
    margin-left: 5%;
    .Search__input 
        border-radius: 4px 0 0 4px
        background-color: #fff
        border-color: gold
        min-height: 80px;
        
    .Search__btn
        background: gold
        border-color: gold
        border-radius: 0 4px 4px 0
        min-height: 80px;
        color: #000;