.Nav 
    a  
        color: #000;
    .Nav__wrapper
        text-align: left;
        background: gold;
        padding: 10px;
        display: block;
        border-radius: 5px 5px 0 0;
        color: #000;